---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";

const base = import.meta.env.BASE_URL.endsWith("/")
  ? import.meta.env.BASE_URL
  : import.meta.env.BASE_URL + "/";
---

<BaseLayout title="CV" lang="fr" description="CV.">
  <Header lang="fr" />

  <main class="container cv-page">

    <section class="card">
      <div class="pdf-frame">
        <iframe
          src={`${base}extended_cv_hbd.pdf#view=FitH`}
          title="CV(PDF)"
          loading="lazy"
        ></iframe>
      </div>
    </section>

    <hr />

    <section class="card download-section">
      <a class="pill" href={`${base}extended_cv_hbd.pdf`} download>
        Télécharger le PDF
      </a>
    </section>

  </main>

  <Footer lang="fr" />
</BaseLayout>
